{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <link href="{{ asset('css/Home.css') }}" rel="stylesheet"/>

    <div class="structure">
        <div class="body-pub">
            <div class="publicité">
                <img src="{{ asset('Pub/Pub_01.png') }}" class="imagePub">
            </div>
            <div class="promotions-home">
            </div>
        </div>

        <div class="body-promotions">
            <p>Promotions</p>
            <div class="promotions-home">
                <div class="horizontal-big"></div>
                <div class="trait-horizontal"></div>
            </div>
            <div class="promotion-produit">
                <div class="produit-home-promotion">
                    {% for article in articles %}
                        {% if article.id is same as(4) %}
                            {% for image in article.images %}
                                {% if loop.first %}
                                    <img src="{{ image.lien }}" class="img-100"
                                         onclick="window.location.href='article/4'"/>
                                {% endif %}
                            {% endfor %}
                            <p onclick="window.location.href='article/4'">{{ article.nom }}</p>
                            <a> {{ article.prixUnitaire }} &#8364</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="produit-home-promotion">
                    {% for article in articles %}
                        {% if article.id is same as(5) %}
                            {% for image in article.images %}
                                {% if loop.first %}
                                    <img src="{{ image.lien }}" class="img-100"
                                         onclick="window.location.href='article/5'"/>
                                {% endif %}
                            {% endfor %}
                            <p onclick="window.location.href='article/5'">{{ article.nom }}</p>
                            <a> {{ article.prixUnitaire }} &#8364</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="produit-home-promotion">
                    {% for article in articles %}
                        {% if article.id is same as(6) %}
                            {% for image in article.images %}
                                {% if loop.first %}
                                    <img src="{{ image.lien }}" class="img-100"
                                         onclick="window.location.href='article/6'"/>
                                {% endif %}
                            {% endfor %}
                            <p onclick="window.location.href='article/6'">{{ article.nom }}</p>
                            <a> {{ article.prixUnitaire }} &#8364</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="produit-home-promotion">
                    {% for article in articles %}
                        {% if article.id is same as(7) %}
                            {% for image in article.images %}
                                {% if loop.first %}
                                    <img src="{{ image.lien }}" class="img-100"
                                         onclick="window.location.href='article/7'"/>
                                {% endif %}
                            {% endfor %}
                            <p onclick="window.location.href='article/7'">{{ article.nom }}</p>
                            <a> {{ article.prixUnitaire }} &#8364</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="produit-home-promotion">
                    {% for article in articles %}
                        {% if article.id is same as(8) %}
                            {% for image in article.images %}
                                {% if loop.first %}
                                    <img src="{{ image.lien }}" class="img-100"
                                         onclick="window.location.href='article/8'"/>
                                {% endif %}
                            {% endfor %}
                            <p onclick="window.location.href='article/8'">{{ article.nom }}</p>
                            <a> {{ article.prixUnitaire }} &#8364</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="voir-plus">
                <img src="{{ asset('icon/cross_01.png') }}" onclick="window.location.href='article/promotion'">
            </div>
        </div>

        <div class="body-promotions">
            <p>Nouveautés</p>
            <div class="promotions-home">
                <div class="horizontal-big"></div>
                <div class="trait-horizontal"></div>
            </div>
            <div class="promotion-produit">
                <div class="produit-home-promotion">
                    {% for article in articles %}
                        {% if article.id is same as(4) %}
                            {% for image in article.images %}
                                {% if loop.first %}
                                    <img src="{{ image.lien }}" class="img-100"
                                         onclick="window.location.href='article/4'"/>
                                {% endif %}
                            {% endfor %}
                            <p onclick="window.location.href='article/4'">{{ article.nom }}</p>
                            <a> {{ article.prixUnitaire }} &#8364</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="produit-home-promotion">
                    {% for article in articles %}
                        {% if article.id is same as(5) %}
                            {% for image in article.images %}
                                {% if loop.first %}
                                    <img src="{{ image.lien }}" class="img-100"
                                         onclick="window.location.href='article/5'"/>
                                {% endif %}
                            {% endfor %}
                            <p onclick="window.location.href='article/5'">{{ article.nom }}</p>
                            <a> {{ article.prixUnitaire }} &#8364</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="produit-home-promotion">
                    {% for article in articles %}
                        {% if article.id is same as(6) %}
                            {% for image in article.images %}
                                {% if loop.first %}
                                    <img src="{{ image.lien }}" class="img-100"
                                         onclick="window.location.href='article/6'"/>
                                {% endif %}
                            {% endfor %}
                            <p onclick="window.location.href='article/6'">{{ article.nom }}</p>
                            <a> {{ article.prixUnitaire }} &#8364</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="produit-home-promotion">
                    {% for article in articles %}
                        {% if article.id is same as(7) %}
                            {% for image in article.images %}
                                {% if loop.first %}
                                    <img src="{{ image.lien }}" class="img-100"
                                         onclick="window.location.href='article/7'"/>
                                {% endif %}
                            {% endfor %}
                            <p onclick="window.location.href='article/7'">{{ article.nom }}</p>
                            <a> {{ article.prixUnitaire }} &#8364</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="produit-home-promotion">
                    {% for article in articles %}
                        {% if article.id is same as(8) %}
                            {% for image in article.images %}
                                {% if loop.first %}
                                    <img src="{{ image.lien }}" class="img-100"
                                         onclick="window.location.href='article/8'"/>
                                {% endif %}
                            {% endfor %}
                            <p onclick="window.location.href='article/8'">{{ article.nom }}</p>
                            <a> {{ article.prixUnitaire }} &#8364</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="voir-plus">
                <img src="{{ asset('icon/cross_01.png') }}" onclick="window.location.href='article/promotion'">
            </div>
        </div>

    </div>

{% endblock %}
