{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
 {{ dump(cart) }}
    <button id="test">Ajouter au panier</button>
    {% for article in articles %}
        {{ article.nom }}       {# Appel des données avec une boucle for, ici "articles" qui se trouve dans Home Controller ligne 19 #}
            {% for image in article.images %}
                <img src="{{ image.lien }}"/>
            {% endfor %}
    {% endfor %}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/WEB_ecommerce_2019/ECommerce/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/WEB_ecommerce_2019/ECommerce/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div>

    <script>
        $('#test').click(function () {
            $.ajax({
                type: "POST",
                url: 'addToCart',
                data: null
                // success: success,
                // dataType: dataType
            });
        })
    </script>
{% endblock %}
