{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <link href="{{ asset('css/User.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <div class="user-flex">
        <div class="user-setting">
            <div class="user-img">
                <img src="{{ asset('icon/user.png') }}"/>
                {#{% if user.image %}
                    <img src="{{ asset('icon/user.png') }}"/>
                    {% else %}
                    <img src="{{ user.image }}">
                {% endif %}#}
            </div>
            <p>Bonjour</p>
            <p class="name">{{ user.username }}</p>
            <div class="disconnect">
                <a href="/logout">ME DÉCONNECTER</a>
            </div>
            <div class="information-setting">
                <p style="margin: auto;">Mes informations</p>
            </div>
            <div class="information-commandes">
                <p style="margin: auto;">Mes commandes</p>
            </div>
        </div>
        <div class="user-info">
            <form class="info" action=" " method="post" id="contact_form">

                <!-- Text input-->

                <div class="form-group">
                    <label class=" control-label">Prénom</label>
                    <div class=" inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="first_name" placeholder="Prénom" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class=" control-label">Nom</label>
                    <div class=" inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="last_name" placeholder="Nom" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class=" control-label">Pseudo</label>
                    <div class=" inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="first_name" placeholder="Pseudo" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class=" control-label">E-Mail</label>
                    <div class=" inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input name="email" placeholder="E-Mail" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class=" control-label">Adresse</label>
                    <div class=" inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            <input name="Adresse" placeholder="Addresse" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class=" control-label">Ville</label>
                    <div class=" inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            <input name="city" placeholder="Ville" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Select Basic -->

                <div class="form-group">
                    <label class=" control-label">Pays</label>
                    <div class=" selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="Pays" class="form-control selectpicker">
                                <option value=" ">Sélectionner votre Pays</option>
                                <option> Afghanistan</option>
                                <option> Afrique du Sud</option>
                                <option> Albanie</option>
                                <option> Algérie</option>
                                <option> Allemagne</option>
                                <option> Andorre</option>
                                <option> Angola</option>
                                <option> Antigua-et-Barbuda</option>
                                <option> Arabie saoudite</option>
                                <option> Argentine</option>
                                <option> Arménie</option>
                                <option> Australie</option>
                                <option> Autriche</option>
                                <option> Azerbaïdjan</option>
                                <option> Bahamas</option>
                                <option> Bahreïn</option>
                                <option> Bangladesh</option>
                                <option> Barbade</option>
                                <option> Belgique</option>
                                <option> Belize</option>
                                <option> Bénin</option>
                                <option> Bhoutan</option>
                                <option> Biélorussie</option>
                                <option> Birmanie</option>
                                <option> Bolivie</option>
                                <option> Bosnie-Herzégovine</option>
                                <option> Botswana</option>
                                <option> Brésil</option>
                                <option> Brunei</option>
                                <option> Bulgarie</option>
                                <option> Burkina Faso</option>
                                <option> Burundi</option>
                                <option> Cambodge</option>
                                <option> Cameroun</option>
                                <option> Canada</option>
                                <option> Cap-Vert</option>
                                <option> République centrafricaine</option>
                                <option> Chili</option>
                                <option> Chine</option>
                                <option> Chypre</option>
                                <option> Colombie</option>
                                <option> Comores</option>
                                <option> République du Congo</option>
                                <option> République démocratique du Congo</option>
                                <option> Îles Cook</option>
                                <option> Corée du Nord</option>
                                <option> Corée du Sud</option>
                                <option> Costa Rica</option>
                                <option> Côte d’Ivoire</option>
                                <option> Croatie</option>
                                <option> Cuba</option>
                                <option> Danemark</option>
                                <option> Djibouti</option>
                                <option> République dominicaine</option>
                                <option> Dominique</option>
                                <option> Égypte</option>
                                <option> Émirats arabes unis</option>
                                <option> Équateur</option>
                                <option> Érythrée</option>
                                <option> Espagne</option>
                                <option> Estonie</option>
                                <option> États-Unis</option>
                                <option> Éthiopie</option>
                                <option> Fidji</option>
                                <option> Finlande</option>
                                <option> France</option>
                                <option> Gabon</option>
                                <option> Gambie</option>
                                <option> Géorgie</option>
                                <option> Ghana</option>
                                <option> Grèce</option>
                                <option> Grenade</option>
                                <option> Guatemala</option>
                                <option> Guinée</option>
                                <option> Guinée-Bissau</option>
                                <option> Guinée équatoriale</option>
                                <option> Guyana</option>
                                <option> Haïti</option>
                                <option> Honduras</option>
                                <option> Hongrie</option>
                                <option> Inde</option>
                                <option> Indonésie</option>
                                <option> Irak</option>
                                <option> Iran</option>
                                <option> Irlande</option>
                                <option> Islande</option>
                                <option> Israël</option>
                                <option> Italie</option>
                                <option> Jamaïque</option>
                                <option> Japon</option>
                                <option> Jordanie</option>
                                <option> Kazakhstan</option>
                                <option> Kenya</option>
                                <option> Kirghizistan</option>
                                <option> Kiribati</option>
                                <option> Koweït</option>
                                <option> Laos</option>
                                <option> Lesotho</option>
                                <option> Lettonie</option>
                                <option> Liban</option>
                                <option> Liberia</option>
                                <option> Libye</option>
                                <option> Liechtenstein</option>
                                <option> Lituanie</option>
                                <option> Luxembourg</option>
                                <option> Macédoine du Nord</option>
                                <option> Madagascar</option>
                                <option> Malaisie</option>
                                <option> Malawi</option>
                                <option> Maldives</option>
                                <option> Mali</option>
                                <option> Malte</option>
                                <option> Maroc</option>
                                <option> Îles Marshall</option>
                                <option> Maurice</option>
                                <option> Mauritanie</option>
                                <option> Mexique</option>
                                <option> Micronésie</option>
                                <option> Moldavie</option>
                                <option> Monaco</option>
                                <option> Mongolie</option>
                                <option> Monténégro</option>
                                <option> Mozambique</option>
                                <option> Namibie</option>
                                <option> Nauru</option>
                                <option> Népal</option>
                                <option> Nicaragua</option>
                                <option> Niger</option>
                                <option> Nigeria</option>
                                <option> Niue</option>
                                <option> Norvège</option>
                                <option> Nouvelle-Zélande</option>
                                <option> Oman</option>
                                <option> Ouganda</option>
                                <option> Ouzbékistan</option>
                                <option> Pakistan</option>
                                <option> Palaos</option>
                                <option> Palestine</option>
                                <option> Panamá</option>
                                <option> Papouasie-Nouvelle-Guinée</option>
                                <option> Paraguay</option>
                                <option> Pays-Bas</option>
                                <option> Pérou</option>
                                <option> Philippines</option>
                                <option> Pologne</option>
                                <option> Portugal</option>
                                <option> Qatar</option>
                                <option> Roumanie</option>
                                <option> Royaume-Uni</option>
                                <option> Russie</option>
                                <option> Rwanda</option>
                                <option> Saint-Christophe-et-Niévès</option>
                                <option> Saint-Marin</option>
                                <option> Saint-Vincent-et-les Grenadines</option>
                                <option> Sainte-Lucie</option>
                                <option> Îles Salomon</option>
                                <option> Salvador</option>
                                <option> Samoa</option>
                                <option> São Tomé-et-Principe</option>
                                <option> Sénégal</option>
                                <option> Serbie</option>
                                <option> Seychelles</option>
                                <option> Sierra Leone</option>
                                <option> Singapour</option>
                                <option> Slovaquie</option>
                                <option> Slovénie</option>
                                <option> Somalie</option>
                                <option> Soudan</option>
                                <option> Soudan du Sud</option>
                                <option> Sri Lanka</option>
                                <option> Suède</option>
                                <option> Suisse</option>
                                <option> Suriname</option>
                                <option> Eswatini</option>
                                <option> Syrie</option>
                                <option> Tadjikistan</option>
                                <option> Tanzanie</option>
                                <option> Tchad</option>
                                <option> République tchèque</option>
                                <option> Thaïlande</option>
                                <option> Timor oriental</option>
                                <option> Togo</option>
                                <option> Tonga</option>
                                <option> Trinité-et-Tobago</option>
                                <option> Tunisie</option>
                                <option> Turkménistan</option>
                                <option> Turquie</option>
                                <option> Tuvalu</option>
                                <option> Ukraine</option>
                                <option> Uruguay</option>
                                <option> Vanuatu</option>
                                <option> Vatican</option>
                                <option> Venezuela</option>
                                <option> Viêt Nam</option>
                                <option> Yémen</option>
                                <option> Zambie</option>
                                <option> Zimbabwe</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class=" control-label">Code Postal</label>
                    <div class=" inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            <input name="zip" placeholder="Code Postal" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class=" control-label"></label>
                    <div class="send">
                        <button type="submit" class="btn btn-warning">Send <span
                                    class="glyphicon glyphicon-send"></span></button>
                    </div>
                </div>


            </form>
        </div><!-- /.container -->
    </div>
    </div>

{% endblock %}
