{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<div>
    <p>PANIER QTY : {{ cart | length }}</p>
    {% set total = 0 %}
    {% for item in cart %}
        <img src="{{ item.image }}">
        <p> Nom : <a href="/article/{{ item.id }}"> {{ item.nom }}</a></p>
        <p>{{ item.qty }}</p>
        <p>{{ item.qty * item.unitPrice }} €</p>
        {% set total = total + item.qty * item.unitPrice %}

        <button onclick="removeFromCart({{ item.id }})">Remove from cart</button>
    {% endfor %}
    Total : {{ total }} €
    {% if app.user %}

    <div id="paypal-button-container">

    </div>
    <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=EUR"></script>
    <script>
        paypal.Buttons({
            createOrder: function(data, actions) {
                // This function sets up the details of the transaction, including the amount and line item details.
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{ total }}',
                            currency: 'EUR'
                        }
                    }]
                });
            },
            onApprove: function(data, actions) {
                // This function captures the funds from the transaction.
                return actions.order.capture().then(function(details) {
                    // This function shows a transaction success message to your buyer.
                    console.log(details);
                    alert('Transaction completed by ' + details.payer.name.given_name);
                    createCommand(details)
                });
            }
        }).render('#paypal-button-container');


        function createCommand(details) {
            let data = {
            {% for item in cart %}
            item_{{ loop.index }} : {
                id: {{item.id}},
                qty: {{ item.qty }},
                country: details.payer.address.country_code,
                city: details.payer.address.admin_area_2,
                zip: details.payer.address.postal_code,
                address: details.payer.address.address_line_1,
                mailVendeur: details.purchase_units[0].payee.email_address,
                nomVendeur: details.purchase_units[0].soft_descriptor,
                    },
            {% endfor %}
        }
            $.ajax({
                type: "POST",
                url: '/commande/api/createCommande',
                data: data,
                success: function (data) {
                    window.location.replace("/commande/"+data.idCommande);
                }
            });
        }

        function removeFromCart(id) {
            let data = {
                id: id
            };
            $.ajax({
                type: "POST",
                url: '/removeFromCart',
                data: data,
                success: function (data) {
                    console.log(data);
                }
            });
        }
    </script>

        {% else %}
        <a href="/login">Veuillez vous connecter</a>
    {% endif %}
</div>
{% endblock %}
