{% extends 'base.html.twig' %}

{% block body %}

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="{{ asset('css/Login.css') }}" rel="stylesheet"/>

    <div action="{{ path("fos_user_registration_register") }}" method="post">
        <form action="{{ path("fos_user_registration_register") }}" method="post">
            {{ form_widget(form._token) }}
            <div id="slideBox">
                <div class="topLayer">
                    <div class="right">
                        <div class="content">
                            <h2>Register</h2>
                            {{ form_errors(form) }}
                            <form id="form-login" method="post" onsubmit="return false;">
                                <div class="form-element form-stack">
                                    {{ form_label(form.username) }}
                                    {{ form_widget(form.username) }}
                                </div>
                                <div class="form-element form-stack">
                                    {{form_label(form.plainPassword)}}
                                    {{form_widget(form.plainPassword)}}
                                </div>
                                <div class="form-element form-stack">
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email) }}
                                </div>
                                <div class="form-element form-submit">
                                    <button class="login" type="submit" value="{{ 'registration.submit'|trans }}">Sign
                                        Up
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
