{% extends 'base.html.twig' %}

{% block body %}

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="{{ asset('css/Login.css') }}" rel="stylesheet"/>

    <div action="{{ path("fos_user_security_check") }}" method="post">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <div id="slideBox">
                <div class="topLayer">
                    <div class="right">
                        <div class="content">
                            <h2>Register</h2>
                            <form id="form-login" method="post" onsubmit="return false;">
                                <div class="form-element form-stack">
                                    <label for="username" class="form-label">{{ 'username'|trans }}</label>
                                    <input id="username" type="text" name="_username" value=""
                                           required="required"
                                           autocomplete="username">
                                </div>
                                <div class="form-element form-stack">
                                    <label for="password" class="form-label">{{ 'password'|trans }}</label>
                                    <input id="password" type="password" name="_password" required="required"
                                           autocomplete="current-password">
                                </div>
                                <div class="form-element form-stack">
                                    <label for="password" class="form-label">{{ 'Repeat password'|trans }}</label>
                                    <input id="password" type="password" name="_password" required="required"
                                           autocomplete="current-password">
                                </div>
                                <div class="form-element form-stack">
                                    <label for="username" class="form-label">{{ 'adress mail'|trans }}</label>
                                    <input id="username" type="text" name="_adressmail" value=""
                                           required="required"
                                           autocomplete="username">
                                </div>
                                <div class="form-element form-submit">
                                    <button class="login" type="submit" value="{{ 'registration.submit'|trans }}">Sign
                                        Up
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
